@import "compass/reset";
@import "compass/layout";
@import "compass/layout/sticky-footer";
@import "foundation_and_overrides";



// ----||----------------------------
//     || SITE-WIDE
// ====||============================

$active-menu-selection-color: $primary-color;
$project-screenshot-left-margin: -22px;

// ----||----------------------------
//     || LANDING PAGE
// ====||============================

$bio-background-color: $primary-color;
$bio-foreground-color: #000;
$profile-image-size: 200px;
$featured-content-header-font-size: 1.6em;


@import "base";
@import "landing-page";
@import "portfolio";